#owl-slide .item{
	overflow:hidden;
}
#owl-slide .item img{
	display: block;
	width: 100%;
	/*height: 447px;*/
}
.owl-item {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}
.slideshow .owl-nav [class*='owl-'] {
	font-size: 36px !important;
}
.owl-theme .owl-nav [class*='owl-'] {
	color: #FFF;
	font-size: 14px;
	display: inline-block;
	/*position:absolute;*/
	top:50%;
	/*width:40px;*/
	/*height:40px;*/
	text-indent:-9999px;
	/*margin-top: -20px;*/
	/*opacity:0;*/
}
.owl-theme:hover .owl-nav [class*='owl-']{
	opacity:1;
}
.owl-theme .owl-nav .disabled {
	opacity: 0.5;
	cursor: default;
}
.slideshow .owl-dots{
	display: none;
}
.owl-theme .owl-dots {
	text-align: center;
	-webkit-tap-highlight-color: transparent;
	 left: 50%;
	list-style: outside none none;
	margin-left: -30%;
	padding-left: 0;
	position: absolute;
	width: 60%;
	z-index: 15;
	bottom:0;
}
.owl-theme .owl-dots .owl-dot {
	display: inline-block;
	zoom: 1;
	*display: inline; 
}
.owl-theme .owl-dots .owl-dot span {
	  width: 10px;
	  height: 10px;
	  margin: 5px 7px;
	  background: #D6D6D6;
	  display: block;
	  -webkit-backface-visibility: visible;
	  transition: opacity 200ms ease;
	  border-radius: 30px; 
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
	background: #869791; 
}
.slideshow .owl-stage-outer{
	position: relative;

}
.slideshow .owl-nav{
	padding: 0 2px;
	position: absolute;
	float: left;
	width: 100%;
	top:43%;
	box-sizing: border-box;
}

.slideshow .owl-prev,.slideshow .owl-next{
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.slideshow .owl-prev{
	float: left;
	width: 50%;

}
.slideshow  .owl-next{
	float: right;
	width: 50%;
}
.slideshow .owl-prev:before{
	position: absolute;
	display: block;
	content: "\f104";
	text-indent: 0px;
}
.slideshow  .owl-next:before,.slideshow .owl-prev:before{
	border-radius: 34px;
	padding: 15px 27px;
	background-color: rgba(0,0,0,0.1);
	/*opacity: 0.5;*/

}
.slideshow  .owl-next:before{
	right:0px;
	position: absolute;
	display: block;
	content: "\f105";
	text-indent: 0px;
}

.owl-prev {

  /*left:20px;*/
 /* background:rgba(0, 0, 0, 0) url("images/large_left.png") no-repeat scroll 0 0;*/
}
.owl-prev:hover{
 /* background:rgba(0, 0, 0, 0) url("images/large_left.png") no-repeat scroll left bottom;*/
}
.owl-next {
  /*right:20px;*/
 /* background:rgba(0, 0, 0, 0) url("images/large_right.png") no-repeat scroll 0 0;*/
}
.owl-next:hover{
  /*background:rgba(0, 0, 0, 0) url("images/large_right.png") no-repeat scroll left bottom;*/
}
/* Nội dung slide */
#owl-slide .carousel-caption{
	color: #fff;
    left: 10%;
    max-width:80%;
	box-sizing:border-box;
    position: absolute;
    text-align: center;
    top: 25%;
    width: 100%;
    z-index: 9999;
}
.carousel-caption .large_text{
	font-size: 40px;
	margin-bottom: 10px;
    margin-top: 20px;
	animation: 2s ease 0s normal none 1 running fadeInLeft;
	text-transform:uppercase;
	text-shadow:1px 1px 1px #000000;
}
.carousel-caption .small-text{
    font-size: 18px;
    line-height: 25px;
	text-shadow:1px 1px 1px #000;
	animation: 2s ease 0s normal none 1 running fadeInRight;
}
/* Feel free to change duration  */ 
.animated  {
  -webkit-animation-duration : 1000 ms  ;
  animation-duration : 1000 ms  ;
  -webkit-animation-fill-mode : both  ;
  animation-fill-mode : both  ;
}  
/* .owl-animated-out - only for current item */ 
/* This is very important class. Use z-index if you want move Out item above In item */ 
.owl-animated-out {
  z-index : 1 
   }
/* .owl-animated-in - only for upcoming item
/* This is very important class. Use z-index if you want move In item above Out item */ 
.owl-animated-in {
  z-index : 0 
}
@media only screen and (max-width: 767px) {
	#owl-slide .carousel-caption{display:none}
}
